ANTHROPIC_API_KEY=
GROQ_API_KEY=
ELEVENLABS_API_KEY=
ELEVEN_VOICE_ID=

MIC_DEVICE=
SPEAKER_DEVICE=
CAMERA_INDEX=0
ROBOT_PORT=COM5

WAKE_MODEL=models/hey_buster.onnx

WEATHER_LAT=
WEATHER_LON=
WEATHER_PLACE=
CALENDAR_ICS_URL=
